<%- include('header.ejs') %>
<main class="mw">
  <h2>THE BLOG</h2>
  <h3>MY PAGE</h3>
  <div>ID : <%= user.userid %></div>
  <div>NickName : <%= user.username %></div>
</main>

<%- include('footer.ejs') %>
